<!--
  Generated template for the InfographicDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> ইনফোগ্রাফিক বিস্তারিত</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col padding>
      <img src="{{infoGraphData?.image}}" #myImage (click)="presentImage(myImage)"/>
      <div class="article-title"> {{ infoGraphData?.title }}</div>
      <ion-row>
<!--         <ion-col col-12 class="t0">
          <ion-icon name="logo-facebook" class="fb" (click)="fShare(infoGraphData)"></ion-icon>
          <ion-icon name="logo-twitter" class="twt" (click)="tShare(infoGraphData)"></ion-icon>
          <ion-icon name="logo-whatsapp" class="whts" (click)="wShare(infoGraphData)"></ion-icon>
          <ion-icon name="mail" class="ml" (click)="eShare(infoGraphData)"></ion-icon>
        </ion-col> -->
        <ion-col>
              <button ion-button icon-only color="primary" clear>
            <ion-icon class="share-icon" name="share"></ion-icon>
          </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-only (click)="wShare(infoGraphData)" color="primary" clear>
            <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
          </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-only (click)="fShare(infoGraphData)" color="primary" clear>
            <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
          </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-only (click)="tShare(infoGraphData)" color="primary" clear>
            <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
          </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-only (click)="eShare(infoGraphData)" color="primary" clear>
            <ion-icon class="share-icon" name="mail"></ion-icon>
          </button>
            </ion-col>
      </ion-row>
      <div class="infograph-description" [innerHTML]="infoGraphData?.description">
      </div>
      <ion-row>
      <!--   <ion-col col-10 class="t0">
          <ion-icon name="logo-facebook" class="fb" (click)="fShare(infoGraphData)"></ion-icon>
          <ion-icon name="logo-twitter" class="twt" (click)="tShare(infoGraphData)"></ion-icon>
          <ion-icon name="logo-whatsapp" class="whts" (click)="wShare(infoGraphData)"></ion-icon>
          <ion-icon name="mail" class="ml" (click)="eShare(infoGraphData)"></ion-icon>
        </ion-col> -->
              <ion-col>
                  <button ion-button icon-only (click)="wShare(infoGraphData)" color="primary" clear>
                <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
              </button>
              </ion-col>
                <ion-col>
                  <button ion-button icon-only (click)="fShare(infoGraphData)" color="primary" clear>
                <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
              </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-only (click)="tShare(infoGraphData)" color="primary" clear>
                <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
              </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-only (click)="eShare(infoGraphData)" color="primary" clear>
                <ion-icon class="share-icon" name="mail"></ion-icon>
              </button>
                </ion-col>
              <ion-col>
                  <button ion-button icon-only (click)=downloadImage(infoGraphData?.image) color="dark" clear>
                <ion-icon name="download"></ion-icon>
              </button>
              </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>

<!-- <ion-footer>
  <div style="width: 100%;border-top: 2px #3B5998 solid;"></div>
</ion-footer> -->
