<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar>
    <ion-row class="tb-bg">
    <ion-col col-12 class="topbar">
          <ion-avatar>
            <img *ngIf="!img1" src="./assets/imgs/no-image.png"  (click)="profile()">
            <img *ngIf="img1" [src]="img1" (click)="profile()">
          </ion-avatar>
          <ion-searchbar
          [(ngModel)]="searchText"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchNow($event)"
          (ionCancel)="getArticleList(1)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar style="margin-top: 2%;">
  <!--search result-->
    <ion-list *ngIf="searchData.length > 0">
        <ion-item *ngFor="let data of searchData" (click)="searchDetail(data)"> {{data.title}} </ion-item>
    </ion-list>

    <ion-row>
      <ion-col col-12>
      	<h3 class="ldboard"> লিডার বোর্ড </h3>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content padding class="bg">
  
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

    <ion-grid>
      <ion-row class="full-box" *ngFor="let item of data; let i= index">
        <ion-col col-auto class="left-box">
          <P>{{i+1}}</P>
        </ion-col>
        <ion-col class="middle-box">
          <P>{{item.name}}</P>
        </ion-col>
        <ion-col col-auto class="right-box">
          <p>{{item.obtain_point}} pts</p>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>

<!-- <ion-footer>
  <div style="width: 100%;border-top: 2px #5f8dca solid;"></div>
</ion-footer> -->
