page-leader-board {

	*{
    font-size: 15px;
  }
  .tb-bg{
     background-image: url('../assets/imgs/bar-bg.png');
     background-size: cover;
  }
  .bgcolor {
    background-color: #fff;
    color: #3B5998;
  }

    .topbar ion-avatar {
    display: inline-block;
    padding-left: 5px;

  }
  .topbar img {
    max-width: 40px;
    height: 40px;
    margin-top: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .topbar ion-searchbar {
    width: 85%;
    float: right;
  }

.c0{
  color: #3B5998;
  font-weight: bold;
}

  .u0{
    text-decoration: underline;
    color: #3B5998;
  }
.t0{
  text-align: center;
}

  .t0 .icon{
    font-size: 24px;
  }
  .m0{
    margin-top: 10px;
  }

  .ldboard{
	font-size: 28px;
	font-weight: bold;
  }
  .bg{
  	 background-image: url('../assets/imgs/ld-bg.png');
     background-size: cover;
  }

.grid-box{
  margin-top: 20%;
}

.full-box {
    border: 1px solid #666;
    border-radius: 50px;
    margin-bottom: 5px;
}
.full-box p {
    margin: 0;
    padding: 10px;
}
.left-box p {
    border: 1px solid #666;
    border-radius: 100px;
    padding: 5px;
    background: #666;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    min-width: 30px;
}
.middle-box p {
    margin: 0;
    padding: 5px 0px;
}
.right-box {
    background: #666;
    color: #FFF;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    min-width: 75px;
}
.right-box p {
    text-align: center;
    margin: 0 auto;
    padding: 5px 0px;
}

  .item-md.item-block .item-inner{
    border-bottom: 0px;
  }


}
