<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col col-2></ion-col>
    <ion-col col-8>
      <img src="assets/imgs/Quizards-CMYK.png">
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
  <div class="login-box">

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-item>
        <ion-input type="email" placeholder="Emaill" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
      </ion-item>

      <ion-row class="m0">
        <ion-col col-8 class="forget c0 u0" (click)="fogotpass()">Forgot password?</ion-col>
        <ion-col col-4>
          <button ion-button small class="btn" full type="submit" [disabled]="!loginForm.form.valid">LOGIN</button>
        </ion-col>
      </ion-row>
    </form>


    <ion-grid class="grid-box">
      <ion-row>
        <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 class="new-user c0">
          New user? <a class="u0" (click)="navigateToOtherPage()">Sign-up</a>
        </ion-col>
      </ion-row>
<!--       <ion-row>
        <ion-col col-12 class="t0">
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
          <ion-icon ios="logo-linkedin" md="logo-linkedin"></ion-icon>
          <ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
</ion-content>
