<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar>
    <ion-row class="tb-bg">
      <ion-col col-12 class="topbar">
          <ion-avatar>
               <img *ngIf="!img1" src="./assets/imgs/no-image.png"  (click)="profile()">
              <img *ngIf="img1" [src]="img1" (click)="profile()">
          </ion-avatar>
           <ion-searchbar
          [(ngModel)]="searchText"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchNow($event)"
          (ionCancel)="getArticleList(1)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-toolbar style="margin-top: 2%;">
       <!--search result-->
    <ion-list *ngIf="searchData.length > 0">
        <ion-item *ngFor="let data of searchData" (click)="searchDetail(data)"> {{data.title}} </ion-item>
    </ion-list>
    
    <ion-row>
      <ion-col col-9>
        <h3> {{ this.navParams.data.quiz_title }} </h3>
      </ion-col>

      <ion-col col-3>
        <button ion-button float-right color="light">{{minutes}}:{{second}}</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding: 0">
        <ul class="progressbar">
          <li *ngFor="let item of questions;let i=index" [ngClass]="styleProgressBar(item.id)"></li>
        </ul>
      </ion-col>
    </ion-row>

  </ion-toolbar>


</ion-header>


<ion-content padding>
  <ion-grid *ngIf="is_started">

    <ion-row *ngIf="selected_q?.image!==null">
      <ion-col col-12>
        <img src="{{selected_q?.image}}" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <h4 text-center>
          {{selected_q?.question}}
        </h4>

        <ion-list radio-group [(ngModel)]="options">
          <ion-item text-wrap  color="dark" style="margin-top: 1%;">
            <ion-label> {{selected_q?.option[0].option_1}} </ion-label>
            <ion-radio [value]="1" (click)="nextQ(selected_q?.id, 1)" item-left></ion-radio>
          </ion-item>

          <ion-item text-wrap color="dark" style="margin-top: 1%;">
            <ion-label>{{selected_q?.option[0].option_2}}</ion-label>
            <ion-radio [value]="2" (click)="nextQ(selected_q?.id, 2)" item-left></ion-radio>
          </ion-item>

          <ion-item text-wrap color="dark" style="margin-top: 1%;">
            <ion-label>{{selected_q?.option[0].option_3}}</ion-label>
            <ion-radio [value]="3" (click)="nextQ(selected_q?.id, 3)" item-left></ion-radio>
          </ion-item>

          <ion-item text-wrap color="dark" style="margin-top: 1%;">
            <ion-label>{{selected_q?.option[0].option_4}}</ion-label>
            <ion-radio [value]="4" (click)="nextQ(selected_q?.id, 4)" item-left></ion-radio>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
    <!-- <img full class="strtgmbtn" src="./assets/imgs/start_quiz.png" (click)="startGame()" [hidden]="is_started"> -->
  <button ion-button full color="primary" text-capitalize (click)="startGame()" [hidden]="is_started">স্টার্ট কুইজ
  </button>

</ion-content>

<!-- <ion-footer>
  <div style="width: 100%;border-top: 2px #5f8dca solid;"></div>
</ion-footer> -->
