page-question {
*{
    font-size: 16px;
  }
  .tb-bg{
     background-image: url('../assets/imgs/bar-bg.png');
     background-size: cover;
  }
  .strtgmbtn{
    width: 100%;
    height: 65px;
  }

    .topbar ion-avatar {
    display: inline-block;
    padding-left: 5px;

  }
  .topbar img {
    max-width: 40px;
    height: 40px;
    margin-top: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .topbar ion-searchbar {
    width: 85%;
    float: right;
  }
  
  .bgcolor {
    background-color: #fff;
    color: #3B5998;
  }

.c0{
  color: #3B5998;
  font-weight: bold;
}

  .u0{
    text-decoration: underline;
    color: #3B5998;
  }
.t0{
  text-align: center;
}

  .t0 .icon{
    font-size: 24px;
  }
  .m0{
    margin-top: 10px;
  }

  .forget{
    padding-left: 12px;
    line-height: 48px;
  }

  .logo-row {
    margin-top: 20%;
  }

.grid-box{
  margin-top: 20%;
}
  .correct{
    background-color: #3B5998;
    color: #ffffff;
  }


}
