page-article {
  .toolbar-md{
    padding: 0px;
  }
  .card-content-md{
    padding: 0px;
  }
  .row{
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: left top;
  }
  .col{
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: left top;
  }

  .smDiv{
    max-height: 80px;
    border:1px solid #fff; 
  }
  .lgDiv{
    max-height: 160px;
    border:1px solid #fff;
  }

  .topbar ion-avatar {
    display: inline-block;
    padding-left: 5px;

  }
  .topbar img {
    max-width: 40px;
    height: 40px;
    margin-top: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .topbar ion-searchbar {
    width: 85%;
    float: right;
  }

  .shadow{
    -webkit-box-shadow: 1px 7px 26px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 26px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 7px 26px -6px rgba(0,0,0,0.75);
  }
  .toolbar-background-md{
    background-color: #ffffff;
  }
  .segment-md-secondary .segment-button
  {
    color: #fff;
    border-bottom: 0px;
    background-color: #1b8fb8;
    font-weight: bold;
    font-size: 15px;
    margin-right: 1px;
  }
  .toolbar .segment-md{
    margin: 0px;
    width: 70%;
  }

  .segment-md-secondary .segment-button.activated, .segment-md-secondary .segment-button.segment-activated{
    background-color: #0e6dac;
    color: #fff;
  }

  .tab-bind{
    border-bottom: 2px #3B5998 solid;
  }

  .tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    font-size: 62px!important;
  }

  .grid{
    padding: 0px;
  }
  .c0{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    background: transparent;
    text-align: center;
  }
  .c0 .card-title {
    background: transparent;
    position: relative;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    height: 158px;
    font-weight: normal;
    color: #fff;
    margin: 0px;
    background: rgba(0,0,0,.5);
    padding: 3px;
  }
  .c0 .card-title p{
    position: absolute;
    bottom: 0;
    color: #fff;
  }

  .c1{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    background: transparent;
    text-align: center;
  }
  .c1 .card-title {
    background: transparent;
    position: relative;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    height: 78px;
    font-weight: normal;
    color: #fff;
    margin: 0px;
    background: rgba(0,0,0,.5);
    padding: 3px;
  }
  .c1 .card-title p{
    position: absolute;
    bottom: 0;
    color: #fff;
  }

  a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  .bg{
    background-color: #999;
  }

  @media screen and (min-width : 120px) and (max-width : 320px) {
  .left-art .card-title {
    font-size: 10px !important;
}
  .right-art .card-title {
    font-size: 12px !important;
}
}
 a {
    text-decoration: none;
    color: #000000;

}

}
