<ion-tabs selectedIndex="2"  #mainTabs>
  <ion-tab [root]="tab2Root" tabIcon="icon-article"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="icon-infographic"></ion-tab>
  <ion-tab [root]="tab1Root" tabIcon="icon-qgray"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="icon-leader"></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="ios-list-outline"></ion-tab>
</ion-tabs>
