<!--
  Generated template for the QuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar>
    <ion-row class="tb-bg">
    <ion-col col-12 class="topbar">
          <ion-avatar>
            <img *ngIf="!img1" src="./assets/imgs/no-image.png"  (click)="profile()">
            <img *ngIf="img1" [src]="img1" (click)="profile()">
          </ion-avatar>
          <ion-searchbar
          [(ngModel)]="searchText"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchNow($event)"
          (ionCancel)="getArticleList(1)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar class="shadow">
   <!--search result-->
    <ion-list *ngIf="searchData.length > 0">
        <ion-item *ngFor="let data of searchData" (click)="searchDetail(data)"> {{data.title}} </ion-item>
    </ion-list>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <img src="assets/imgs/Quizards-CMYK.png" style="width: 120px;">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar style="margin-top: 2%;">

    <div class="tab-bind">
      <ion-segment [(ngModel)]="topic" color="secondary">
        <ion-segment-button [value]="1" (click)="getQ1()">
          সর্বশেষ
        </ion-segment-button>
        <ion-segment-button [value]="2" (click)="getQ2()">
          আলোচিত
        </ion-segment-button>
        <ion-segment-button [value]="3" (click)="getQ3()">
          অদেখা
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
 

  <div [ngSwitch]="topic">
    <div *ngSwitchCase="'1'">
      <ion-row *ngFor="let item of arr">
        <ion-col col-5>
          <ion-row *ngFor="let item of item.left" (click)="startGame(item)" [style.backgroundImage]="'url(' + item.image + ')'" class="smDiv">
             <ion-col class="left-art">
              <ion-card text-wrap class="c1">
                <div class="card-title">
                  <p>{{item.quiz_title}}</p>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-7 *ngFor="let item of item.right" (click)="startGame(item)" [style.backgroundImage]="'url(' + item.image + ')'" class="lgDiv">
          <ion-card text-wrap class="c0 right-art">
            <div class="card-title">
              <p>{{item.quiz_title}}</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>


    <ion-grid *ngSwitchCase="'2'">
      <ion-row *ngFor="let item of arr">
        <ion-col col-5>
          <ion-row *ngFor="let item of item.left" (click)="startGame(item)" [style.backgroundImage]="'url(' + item.image + ')'" class="smDiv">
             <ion-col class="left-art">
              <ion-card text-wrap class="c1">
                <div class="card-title">
                  <p>{{item.quiz_title}}</p>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-7 *ngFor="let item of item.right" (click)="startGame(item)" [style.backgroundImage]="'url(' + item.image + ')'" class="lgDiv">
        <ion-card text-wrap class="c0 right-art">
            <div class="card-title">
              <p>{{item.quiz_title}}</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

     <ion-grid *ngSwitchCase="'3'">
      <ion-row *ngFor="let item of arr">
        <ion-col col-5>
           <ion-row *ngFor="let item of item.left" (click)="startGame(item)" [style.backgroundImage]="'url(' + item.image + ')'" class="smDiv">
             <ion-col class="left-art">
              <ion-card text-wrap class="c1">
                <div class="card-title">
                  <p>{{item.quiz_title}}</p>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-7 *ngFor="let item of item.right" (click)="startGame(item)" [style.backgroundImage]="'url(' + item.image + ')'" class="lgDiv">
        <ion-card text-wrap class="c0 right-art">
            <div class="card-title">
              <p>{{item.quiz_title}}</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
<!-- <ion-footer>
  <div style="width: 100%;border-top: 2px #3B5998 solid;"></div>
</ion-footer> -->
