<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar>
    <ion-row class="tb-bg">
    <ion-col col-12 class="topbar">
          <ion-avatar>
            <img *ngIf="!img1" src="./assets/imgs/no-image.png" >
            <img *ngIf="img1" [src]="img1">
          </ion-avatar>
          <ion-searchbar
          [(ngModel)]="searchText"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchNow($event)"
          (ionCancel)="getArticleList(1)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar>
    <!--search result-->
    <ion-list *ngIf="searchData.length > 0">
        <ion-item *ngFor="let data of searchData" (click)="searchDetail(data)"> {{data.title}} </ion-item>
    </ion-list>

    <ion-row class="p0">
      <ion-col col-12>
        <h3 class="profile"> {{user?.name}} </h3>
        <p class="m0"> {{user?.email}} </p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content padding>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div class="progress-wrapper">
            <div class="current" [ngStyle]="getOverlayStyle()"> {{ current}}% </div>
      <round-progress
            [current]="current"
            [max]="max"
            [color]="'#45ccce'"
            [background]="'#eaeaea'"
            [radius]="100"
            [stroke]="20"
            [semicircle]="false"
            [rounded]="false"
            [clockwise]="true"
            [responsive]="true"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0">
            </round-progress>
          </div>
      </ion-col>
        <ion-col col-6>
          <h3 class="hd"> সাফল্যের হার </h3>
          <ion-list>
              <ion-item class="s0">
                  <div item-left> মোট  <br> খেলা কুইজ </div>
                  <div item-right class="score"> {{user_data.played_quiz}} </div>
              </ion-item>
               <ion-item class="s0">
                  <div item-left> মোট  <br> অর্জিত পয়েন্ট </div>
                  <div item-right class="score"> {{user_data.total_obtain_point}} </div>
              </ion-item>
               <ion-item class="s0">
                  <div item-left> মোট  <br> ভুল উত্তর </div>
                  <div item-right class="score"> {{user_data.wrong_ans}} </div>
              </ion-item>
          </ion-list>
      </ion-col>
      </ion-row>
    </ion-grid>


  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header  no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(1)" detail-none [ngClass]="{'section-active': settingOpen, 'section': !settingOpen}">
        সেটিংস <ion-icon  name="arrow-dropdown-circle" float-right></ion-icon>
      </button>

      <ion-list *ngIf="settingOpen" no-lines>

        <!-- Second Level -->
        <ion-list-header  no-padding>
            <button ion-item (click)="toggleSection(4)" detail-none [ngClass]="{'name-section-active': settingNameChange, 'name-section': !settingNameChange}">
              নাম পরিবর্তন
            </button>
            <ion-list *ngIf="settingNameChange" no-lines>
              <form (ngSubmit)="updateName()">
                <ion-item>
                  <ion-input type="text" placeholder="নতুন নাম"  [(ngModel)]="name" name="name"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input type="text" placeholder="পুরাতন নাম"></ion-input>
                </ion-item>
                <ion-item>
                  <button ion-button type="submit" end>সেভ</button>
                </ion-item>

              </form>
            </ion-list>
        </ion-list-header>

        <ion-list-header  no-padding>
            <button ion-item (click)="toggleSection(5)" detail-none [ngClass]="{'email-section-active': settingEmailChange, 'email-section': !settingEmailChange}">
              ই-মেইল পরিবর্তন
            </button>
            <ion-list *ngIf="settingEmailChange" no-lines>
              <form (ngSubmit)="updateEmail()">
                <ion-item>
                  <ion-input type="email" placeholder="নতুন ই-মেইল" [(ngModel)]="email" name="email"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input type="email" placeholder="পুরাতন ই-মেইল" [(ngModel)]="old_email" name="old_password"></ion-input>
                </ion-item>
                <ion-item>
                  <button ion-button type="submit" end>সেভ</button>
                </ion-item>
              </form>
            </ion-list>
        </ion-list-header>

          <ion-list-header  no-padding>
            <button ion-item (click)="toggleSection(6)" detail-none [ngClass]="{'password-section-active': settingPasswordChange, 'password-section': !settingPasswordChange}">
              পাসওয়ার্ড পরিবর্তন
            </button>
            <ion-list *ngIf="settingPasswordChange" no-lines>
              <form (ngSubmit)="updatePassword()">
                <ion-item>
                  <ion-input type="password" placeholder="নতুন পাসওয়ার্ড"  [(ngModel)]="password" name="password" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input type="password" placeholder="পুরাতন পাসওয়ার্ড" name="password"></ion-input>
                </ion-item>
                <ion-item>
                  <button ion-button type="submit" end>সেভ</button>
                </ion-item>
              </form>
            </ion-list>
        </ion-list-header>

      </ion-list>

    </ion-list-header>

    <!--2nd level-->
    <ion-list-header  no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(2);UserPlayedQuiz()" detail-none [ngClass]="{'section-active': quizOpen, 'section': !quizOpen}">
        আপনার খেলা শেষ ৩ কুইজ <ion-icon  name="arrow-dropdown-circle" float-right></ion-icon>
      </button>

      <ion-list *ngIf="quizOpen" no-lines>
        <!-- Second Level -->
        <ion-list-header class="played-quiz" no-padding>
              <div class="played-quiz" no-lines *ngIf="user_played_quiz.length > 0">
                <div class="labelone" *ngFor="let item of user_played_quiz">
                  <p>{{item.quiz_title}} </p>
                  <div id="myProgress">
                    <div id="myBar" [ngStyle]="{'width': getProgressPercent(item.total_question, item.right_ans)}"></div>
                  </div>
                  <ion-row>
                    <ion-col style="padding: 0">
                      <ul class="progressbar">
                        <li *ngFor="let item of item.played_question_set;let i=index" [ngClass]="styleProgressBar(item.isRight)"></li>
                      </ul>


                    </ion-col>
                  </ion-row>
                </div>
            </div>
        </ion-list-header>
      </ion-list>

    </ion-list-header>


    <!--3rd level-->
    <ion-list-header  no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(7)" detail-none [ngClass]="{'section-active': imageOpen, 'section': !imageOpen}">
          প্রোফাইল ইমেজ আপলোড / পরিবর্তন করুন<ion-icon  name="arrow-dropdown-circle" float-right></ion-icon>
      </button>

      <ion-list *ngIf="imageOpen" no-lines>
        <!-- Second Level -->
        <ion-list-header class="played-quiz" no-padding>
          <input type="file" value="" (change)="fileChange($event)"/>
         <!-- <input type="hidden" [(ngModel)]="logo" name="logo">-->
          <ion-avatar item-start>
            <img *ngIf="img1" [src]="img1" style="width: 80px; height: 80px">
          </ion-avatar>

        </ion-list-header>
      </ion-list>

    </ion-list-header>

    <!--3d level-->
    <ion-list-header  no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="signOut()" color="primary" detail-none>
        সাইন আউট
      </button>

    </ion-list-header>

  </ion-list>
</ion-content>

<!-- <ion-footer>
  <div class="f0"></div>
</ion-footer> -->
