page-profile {

  *{
    font-size: 16px;
  }

    @media screen and (min-width : 120px) and (max-width : 400px) {
    *{
      font-size: 12px;
    }

      .score{
    font-weight: bold;
    font-size: 16px;
  }
}

  .topbar ion-avatar {
    display: inline-block;
    padding-left: 5px;

  }
  .topbar img {
    max-width: 40px;
    height: 40px;
    margin-top: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .topbar ion-searchbar {
    width: 85%;
    float: right;
  }

  .hd{
    font-size: 20px;
    font-weight: bolder;
    color: #838487;
    border-bottom: 2px #838487 solid;
  }

.f0{
    width: 100%;
    border-top: 2px #5f8dca solid;
  }
 .p0{
    width: 100%;
    border-bottom: 3px #5f8dca solid;
  }
   .s0{
    width: 100%;
    border-bottom: 2px #5f8dca solid;
    font-size: 13px !important;
  }
  .score{
    font-weight: bold;
    font-size: 20px;
  }

  .m0{
    margin-top: -2%;
  }

  .profile{
    font-size: 28px;
    font-weight: bold;
    margin-top: -1%;
  }

.grid-box{
  margin-top: 20%;
}

.card-header{
  background-color: map-get($colors, primary);
  color: #fff;
  margin-top: 2px;
  height: 35px;
}
.sacc{
  background: #939598;
}

.card-header-md {
    font-size: 1.6rem;
    color: #fff;
    padding: 7px;
}
.card-content{
  padding: 0px 6px;
  max-height: 0px;
  background-color: map-get($colors, dark);
}

.card-md {
    margin-top: -11.5px;
}

  .accordion-list {
    background: color($colors, light);
    height: 100%;
  }
  .section {
    background: #3495d2;
    color: #fff;
    margin-bottom: 2px;
  }
  .section-active {
    background: #3495d2;
    color: #fff;
  }

  .name-section{
    background: #939598;
    color: #fff;
    margin-bottom: 2px;
  }

  .name-section-active{
   background: #13a89e;
   color: #fff;
  }

  .email-section{
    background: #939598;
    color: #fff;
    margin-bottom: 2px;
  }

  .email-section-active{
   background: #13a89e;
   color: #fff;
  }

  .password-section{
    background: #939598;
    color: #fff;
    margin-bottom: 2px;
  }

  .password-section-active{
   background: #13a89e;
   color: #fff;
  }

  .save{
    background: #58585a;
    color: #fff;
    font-size: 14px;
    width: 55px;
    height: 22px;
  }

  .played-quiz{
    padding: 8px;
  }
  .item-md p{
    color: #666;
  }

  .list-header-md {
     margin-bottom: 1px !important;
}

  .child {
    background: #e8e7e6;
    color: #000;
    margin-bottom: 2px;
  }
  .child-item {
    background: #f3f2f1;
    padding: 10px;
  }
  .label {
    margin: 0px;
  }
  .list {
    margin-bottom: 2px !important;
  }


  .progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 40px;
  }

  .current {
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
  }

  round-progress {
    margin: auto;
  }

  #myProgress {
    width: 100%;
    background-color: #ef3e23;
    border-radius: 5px;
    height: 18px;
  }

  #myBar {
    width: 0%;
    border-radius: 5px;
    height: 18px;
    background-color: #b8d432;
    text-align: center;
    line-height: 30px;
    color: white;
  }
}
