<ion-content class="register-content" padding>
  <ion-row class="logo-row">
    <ion-col col-2></ion-col>
    <ion-col col-8>
      <img src="assets/imgs/Quizards-CMYK.png">
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
  <div class="register-box">

    <form (ngSubmit)="registration()" #registerForm="ngForm">
      <ion-item>
        <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="user.name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required></ion-input>
      </ion-item>

      <ion-row class="m0">
        <ion-col col-8 class="forget c0 u0"></ion-col>
        <ion-col col-4>
          <button ion-button small class="btn" full type="submit" [disabled]="!registerForm.valid"> Register </button>
        </ion-col>
      </ion-row>
    </form>

  </div>
</ion-content>
