page-registration {
	  *{
    font-size: 16px;
  }

  .content {
    background-color: #fff;
    color: #3B5998;
  }

.c0{
  color: #3B5998;
  font-weight: bold;
}

  .u0{
    text-decoration: underline;
    color: #3B5998;
  }
.t0{
  text-align: center;
}

  .t0 .icon{
    font-size: 24px;
  }
  .btn{
    background-color: #3B5998;
  }
  .new-user{
    text-align: center;
  }
  .m0{
    margin-top: 10px;
  }

  .forget{
    padding-left: 12px;
    line-height: 48px;
  }
  .register-box {
    margin: 10% auto;
  }

  .logo-row {
    margin-top: 20%;
  }

  .register-content{
	background-image: url('../assets/imgs/bg.png');
	background-size: cover;
  }

.grid-box{
  margin-top: 20%;
}

.input-cover {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    border: 1px solid#e0cfcf !important;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

ion-item.item.item-block.item-md.item-input {
    margin-bottom: 8px;
    padding-left: 5px;
    font-size: 1.4rem;
    min-height: 3.6rem;
}
.input-has-focus.item-input-has-focus .item-inner{
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

}
