page-givecode {
	.bg-content{
    background-image: url('../assets/imgs/bg.png');
    background-size: cover;
}
ion-item.item.item-block.item-md.item-input {
    margin-bottom: 8px;
    padding-left: 5px;
    font-size: 1.4rem;
    min-height: 3.6rem;
}
.input-has-focus.item-input-has-focus .item-inner{
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}
.input-cover {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    border: 1px solid#e0cfcf !important;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
}
