<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   <ion-navbar>
    <ion-icon  name="icon-arrow-left" float-left (click)="back()"></ion-icon>
    <ion-title> Reset Password </ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="profilebackcolor" class="bg-content">

	<ion-list padding-horizontal>

  <form (ngSubmit)="resetPassword()" #registerForm="ngForm">

  <ion-item>
    <ion-input type="number" placeholder="Give Code" name="token" [(ngModel)]="reset.token" required></ion-input>
  </ion-item>

    <ion-item>
    <ion-input type="email" placeholder="Enter Email" name="email" [(ngModel)]="reset.email" required></ion-input>
  </ion-item>

    <ion-item>
    <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="reset.password" required></ion-input>
  </ion-item>
  
    <ion-item>
    <ion-input type="password" placeholder="Confirm Password" name="password_confirmation" [(ngModel)]="reset.password_confirmation" required></ion-input>
  </ion-item>

  <button ion-button color="secondary" class="btns" full type="submit" [disabled]="!registerForm.valid"> Reset Password </button>
  </form>

</ion-list>

</ion-content>
