
ion-app.md [padding] .scroll-content {
  padding: 7px;
}
.tb-bg{
  background-image: url('../assets/imgs/bar-bg.png');
  background-size: cover;
  margin: 0px;
}


.ion-md-icon-article:before,
.ion-md-icon-article-outline:before {
  content: "\61";
}
.ion-md-icon-qgray:before,
.ion-md-icon-qgray-outline:before {
  font-size: 36px;
  content: "\62";
}
.ion-md-icon-leader:before,
.ion-md-icon-leader-outline:before {
  content: "\63";
}
.ion-md-icon-infographic:before, .ion-md-icon-infographic-outline:before {
  content: "\64";
}

.tabs-md .tab-button-icon{
  font-size: 1.8em;
  margin-top: 3px !important;
}

.tab-button-text, .tab-button-icon {
    overflow: visible !important;
}

.tabs-md .tab-button[aria-selected=true]{
  color: #0e6dac;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
  color: #0e6dac;
}

.toolbar-md{
  padding: 0px;
}

/*progress bar*/

.progressbar {
  counter-reset: step;
  margin-left: 0;
  padding-left: 0;
}
.progressbar li {
  list-style-type: none;
  width: 10%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 20px;
  height: 20px;
  content: counter(step);
  counter-increment: step;
  line-height: 20px;
  border: 1px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 11px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}

.progressbar li.wrong{
  color: red;
}

.topbar img {
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    margin-top: 4px;
    border-radius: 50%;
}

.tabbar::before {
    top: -10px !important;
    bottom: auto !important;
    background-image: url(../assets/imgs/CurveBar.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover;
    height: 15px !important;
    width: 100% !important;
}
ion-icon.tab-button-icon.icon.icon-md.ion-md-icon-qgray {
    background: #236ac8;
    color: #FFF;
    padding: 8px;
    border-radius: 100%;
    line-height: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width : 120px) and (max-width : 320px) {
   ion-icon.tab-button-icon.icon.icon-md.ion-md-icon-qgray {
    padding: 4px;
}
}