page-subject-list {
  .tb-bg{
     background-image: url('../assets/imgs/bar-bg.png');
     background-size: cover;
     color: #fff;
  }
  	.details-btn {
	color: #fff;
	background: #12a89d;
	border-radius: 0;
	padding: 10px;
	padding-right: 25px;
	font-size: 14px;
    font-weight: bold;
}
.details-btn .icon {
    font-weight: bold;
    font-size: 3rem;
    padding-right: 5px;
}
.text p {
    font-weight: bold;
    text-align: justify;
    line-height: 18px;
}
.text1 p {
    color: #000;
}
.text2 p {
    color: #000;
}
.cleaxfix {
    border-bottom: 2px solid #099546;
}

.item-md {
    margin-bottom: 1px;
}

  @media screen and (min-width : 120px) and (max-width : 320px) {
  *{
      font-size: 12px;
  }

}

}
