<!--
  Generated template for the SubjectListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
        <ion-row class="tb-bg">
	        <ion-item class="tb-bg">
	        	<ion-title> আমাদের কথা </ion-title>
	        </ion-item>
	    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>

		<ion-grid>

		  <ion-row>
		  	<button ion-button class="details-btn"> কুইজার্ডস ডট কো: মজার সাথে নতুন কিছু জানা </button>
		  </ion-row>

		  <ion-row class="text text1">
		    <p>এক কথায় বলা যাক। কুইজার্ডস একটি এডুটেইনমেন্ট (Edutainment) প্লাটফর্ম। এখানে বাংলাভাষী যে কেউ মজার সাথে নতুন কিছু জানতে পারবেন।
			আমরা চাই, বাংলাদেশের স্কুল, কলেজ ও বিশ্ববিদ্যালয়ের শিক্ষার্থীসহ বিভিন্ন স্তরের মানুষের মধ্যে জানার আগ্রহ ছড়িয়ে পড়ুক। এ ইচ্ছা থেকেই কুইজার্ডসের শুরু।</p>
		  </ion-row>

		  <ion-row>
		  	<button ion-button class="details-btn"> আমাদের কন্টেন্ট </button>
		  </ion-row>

		  <ion-row class="text text2">
		    <p> কুইজার্ডস প্লাটফর্মে মূলত তিন ধরনের কন্টেন্ট প্রকাশ করি আমরা। </p>
		  </ion-row>

				<ion-list>
				   <button full color="material" ion-item (click)="quiz()">
				    কুইজ
				   </button>

				    <button full color="material" ion-item (click)="article()">
				     আর্টিকেল
				    </button>

				    <button full color="material" ion-item (click)="infographic()">
				     ইনফোগ্রাফিকস
				    </button>
				</ion-list>

		  <!-- end fist part -->

		  <ion-row class="text text1">
		    <p>আপনি যদি নতুন কিছু জানতে পছন্দ করেন, তাহলে এ সাইটের মাধ্যমে একটু হলেও উপকৃত হবেন বলে আমাদের বিশ্বাস। আপনার সহযোগিতাই পারে আমাদের পথচলাকে অনুপ্রাণিত করতে।

			জানার অভিযানে আমাদেরকে সাথে রাখায় আন্তরিক ধন্যবাদ জানাচ্ছি।</p>
		  </ion-row>

		  <ion-row>
		  	<button ion-button class="details-btn"> আমাদের অর্জন </button>
		  </ion-row>

		 <ion-row>
		  	<img src="./assets/imgs/quizards-recognition.png" alt="no image found" imageViewer />
		  </ion-row>
			
		  <ion-row class="text text2">
		    <p> ২০১৬ সালে "Promoting Bangladesh" প্রতিযোগিতায় কুইজার্ডস <a href="https://futurestartup.com/2016/02/10/promoting-bangladesh-2016-winners/"> সেরা ১০টি ওয়েবসাইট ও অ্যাপের তালিকায় </a> নির্বাচিত হয়। </p>
		    <p>২০১৬ সালের <a href="https://www.brac.net/latest-news/item/1000-brac-manthan-digital-innovation-award-announces-14-winners/"> ব্র্যাক মন্থন ডিজিটাল ইনোভেশন অ্যাওয়ার্ডে </a> বিনোদন ক্যাটাগরিতে স্পেশাল মেনশন অর্জন করে কুইজার্ডস। </p>
		    <p>২০১৭ সালে কুইজার্ডস জয় বাংলা ইয়ুথ অ্যাওয়ার্ডের অন্যতম বিজয়ী হয় সাংস্কৃতিক ক্ষেত্রে অবদান রাখার জন্য।</p>
		  </ion-row>

</ion-grid>

</ion-content>
