page-searchresult {
.infograph-description{
		text-align: justify;
		padding: 5px;
	}
	.article-title{
		text-align: justify;
		font-size: 15px;
		font-weight: bold;
		padding: 5px;
		color: #056839;
	}


ion-icon {
    display: inline-block;
    font-size: 1.8em;
}
.fb{
	color: #4267b2;
}
.twt{
	color: #50a7e6;
}
.whts{
	color: #1ebea5;
}
.ml{
	color: orange;
}
}
