<!--
  Generated template for the SearchresultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> বিস্তারিত </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
     <ion-row>
            <ion-col padding>
              		<img src="{{details?.image}}" #myImage (click)="presentImage(myImage)" />
                  <div class="article-title"> {{ details?.title }}  </div>
                   <ion-row>
            <!--           <ion-col col-12 class="t0">
                        <ion-icon name="logo-facebook" class="fb" (click)="fShare(details)"></ion-icon>
                        <ion-icon name="logo-twitter" class="twt" (click)="tShare(details)"></ion-icon>
                        <ion-icon name="logo-whatsapp" class="whts" (click)="wShare(details)"></ion-icon>
                        <ion-icon name="mail" class="ml" (click)="eShare(details)"></ion-icon>
                      </ion-col> -->
                              <ion-col>
                              <button ion-button icon-only color="primary" clear>
                            <ion-icon class="share-icon" name="share"></ion-icon>
                          </button>
                            </ion-col>
                            <ion-col>
                              <button ion-button icon-only (click)="wShare(details)" color="primary" clear>
                            <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                          </button>
                            </ion-col>
                            <ion-col>
                              <button ion-button icon-only (click)="fShare(details)" color="primary" clear>
                            <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                          </button>
                            </ion-col>
                            <ion-col>
                              <button ion-button icon-only (click)="tShare(details)" color="primary" clear>
                            <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                          </button>
                            </ion-col>
                            <ion-col>
                              <button ion-button icon-only (click)="eShare(details)" color="primary" clear>
                            <ion-icon class="share-icon" name="mail"></ion-icon>
                          </button>
                            </ion-col>
                    </ion-row>
                <div class="infograph-description" [innerHTML]="details?.description">
                </div>
                  <ion-row>
          <!--             <ion-col col-12 class="t0">
                              <ion-icon name="logo-facebook" class="fb" (click)="fShare(details)"></ion-icon>
                              <ion-icon name="logo-twitter" class="twt" (click)="tShare(details)"></ion-icon>
                              <ion-icon name="logo-whatsapp" class="whts" (click)="wShare(details)"></ion-icon>
                              <ion-icon name="mail" class="ml" (click)="eShare(details)"></ion-icon>
                      </ion-col> -->
                              <ion-col>
                                  <button ion-button icon-only color="primary" clear>
                                <ion-icon class="share-icon" name="share"></ion-icon>
                              </button>
                                </ion-col>
                                <ion-col>
                                  <button ion-button icon-only (click)="wShare(details)" color="primary" clear>
                                <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                              </button>
                                </ion-col>
                                <ion-col>
                                  <button ion-button icon-only (click)="fShare(details)" color="primary" clear>
                                <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                              </button>
                                </ion-col>
                                <ion-col>
                                  <button ion-button icon-only (click)="tShare(details)" color="primary" clear>
                                <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                              </button>
                                </ion-col>
                                <ion-col>
                                  <button ion-button icon-only (click)="eShare(details)" color="primary" clear>
                                <ion-icon class="share-icon" name="mail"></ion-icon>
                              </button>
                                </ion-col>
                    </ion-row>
            </ion-col>
      </ion-row>
</ion-content>
