<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar>
    <ion-row class="tb-bg">
      <ion-col col-12 class="topbar">
          <ion-avatar>
            <img *ngIf="!img1" src="./assets/imgs/no-image.png"  (click)="profile()">
            <img *ngIf="img1" [src]="img1" (click)="profile()">
          </ion-avatar>
          <ion-searchbar
          [(ngModel)]="searchText"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchNow($event)"
          (ionCancel)="getArticleList(1)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar style="margin-top: 2%;">
    <!--search result-->
    <ion-list *ngIf="searchData.length > 0">
        <ion-item *ngFor="let data of searchData" (click)="searchDetail(data)"> {{data.title}} </ion-item>
    </ion-list>

    <ion-row>
      <ion-col col-9>
        <h3> {{ this.navParams.data.quiz_title }} </h3>
      </ion-col>

      <ion-col col-3>
        <button ion-button float-right color="light"> {{(obtained_score.played_time/60) | number: '1.2-2'}}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding: 0">
        <ul class="progressbar">
          <li *ngFor="let item of obtained_score.played_question_set;let i=index"
              [ngClass]="styleProgressBar(item.id)"></li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button ion-button full color="deep"> অপনার স্কোর</button>
        <div class="score">
          {{obtained_score.obtain_point}}
        </div>
      </ion-col>
      <ion-col col-4>
        <button ion-button full color="deep"> সর্বোচ্চ স্কোর</button>
        <div class="score">
          {{highest_score}}
        </div>
      </ion-col>
      <ion-col col-4>
        <button ion-button full (click)="playAgain()">
          <ion-icon name='refresh'></ion-icon>
          <span> &nbsp; </span> পুনরায় খেলুন
        </button>
    <!--     <button ion-button full color="leaderbord" (click)="leaderpage()">
          <ion-icon name='icon-leader'></ion-icon>
          <span> &nbsp; </span> লিডার বোর্ড
        </button> -->
        <button ion-button full color="qc" (click)="qdetail(obtained_score)">
          <ion-icon name='checkmark'></ion-icon>
          <span> &nbsp; </span> উত্তরের ব্যাখ্যা
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-grid>
      <ion-row>
          <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
              pullingIcon="arrow-dropdown"
              pullingText="Pull to refresh"
              refreshingSpinner="circles"
              refreshingText="Refreshing...">
            </ion-refresher-content>
          </ion-refresher>
      </ion-row>
      <ion-row class="full-box" *ngFor="let item of dataList; let i=index">
        <ion-col col-auto class="left-box">
          <P> {{i+1}} </P>
        </ion-col>
        <ion-col class="middle-box">
          <P>{{item.name}} </P>
        </ion-col>
        <ion-col col-auto class="right-box">
          <p> {{item.obtain_point}} pts</p>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>

<!-- <ion-footer>
  <div style="width: 100%;border-top: 2px #5f8dca solid;"></div>
</ion-footer>
 -->
