page-score {

*{
    font-size: 16px;
}

@media screen and (min-width : 120px) and (max-width : 320px) {
    *{
      font-size: 12px;
    }
}

  .topbar ion-avatar {
    display: inline-block;
    padding-left: 5px;

  }
  .topbar img {
    max-width: 40px;
    height: 40px;
    margin-top: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .topbar ion-searchbar {
    width: 85%;
    float: right;
  }

  .bgcolor {
    background-color: #fff;
    color: #3B5998;
  }

.c0{
  color: #3B5998;
  font-weight: bold;
}

  .u0{
    text-decoration: underline;
    color: #3B5998;
  }
.t0{
  text-align: center;
}

  .t0 .icon{
    font-size: 24px;
  }
  .m0{
    margin-top: 10px;
  }
 .score{
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    padding-top: 15px;
    text-align: center;
    background-color: #bdbec0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 2px;

  }

  .forget{
    padding-left: 12px;
    line-height: 48px;
  }

  .logo-row {
    margin-top: 20%;
  }

.grid-box{
  margin-top: 20%;
}

.full-box {
    border: 1px solid #666;
    border-radius: 50px;
    margin-bottom: 5px;
}
.full-box p {
    margin: 0;
    padding: 10px;
}
.left-box p {
    border: 1px solid #666;
    border-radius: 100px;
    padding: 5px;
    background: #666;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    min-width: 30px;
}
.middle-box p {
    margin: 0;
    padding: 5px 0px;
}
.right-box {
    background: #666;
    color: #FFF;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    min-width: 75px;
}
.right-box p {
    text-align: center;
    margin: 0 auto;
    padding: 5px 0px;
}
}
