<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> আর্টিকেল বিস্তারিত </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
      <ion-row>
            <ion-col padding>
              	<img src="{{articleData?.image}}" #myImage (click)="presentImage(myImage)"/>
                <div class="article-title card"> {{ articleData?.title }}  </div>
                      <ion-row>
                  <!--         <ion-col col-12 class="t0">
                            <ion-icon name="logo-facebook" class="fb" (click)="fShare(articleData)"></ion-icon>
                            <ion-icon name="logo-twitter" class="twt" (click)="tShare(articleData)"></ion-icon>
                            <ion-icon name="logo-whatsapp" class="whts" (click)="wShare(articleData)"></ion-icon>
                            <ion-icon name="mail" class="ml" (click)="eShare(articleData)"></ion-icon>
                          </ion-col> -->
                            <ion-col>
                                <button ion-button icon-only color="primary" clear>
                              <ion-icon class="share-icon" name="share"></ion-icon>
                            </button>
                              </ion-col>
                              <ion-col>
                                <button ion-button icon-only (click)="wShare(articleData)" color="primary" clear>
                              <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                            </button>
                              </ion-col>
                              <ion-col>
                                <button ion-button icon-only (click)="fShare(articleData)" color="primary" clear>
                              <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                            </button>
                              </ion-col>
                              <ion-col>
                                <button ion-button icon-only (click)="tShare(articleData)" color="primary" clear>
                              <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                            </button>
                              </ion-col>
                              <ion-col>
                                <button ion-button icon-only (click)="eShare(articleData)" color="primary" clear>
                              <ion-icon class="share-icon" name="mail"></ion-icon>
                            </button>
                              </ion-col>
                      </ion-row>
                <div class="article-description" [innerHTML]="articleData?.description">
                </div>

                  <ion-row>
                    <!--    <ion-col col-12 class="t0">
                                <ion-icon name="logo-facebook" class="fb" (click)="fShare(articleData)"></ion-icon>
                                <ion-icon name="logo-twitter" class="twt" (click)="tShare(articleData)"></ion-icon>
                                <ion-icon name="logo-whatsapp" class="whts" (click)="wShare(articleData)"></ion-icon>
                                <ion-icon name="mail" class="ml" (click)="eShare(articleData)"></ion-icon>
                        </ion-col> -->
                          <ion-col>
                            <button ion-button icon-only color="primary" clear>
                          <ion-icon class="share-icon" name="share"></ion-icon>
                        </button>
                          </ion-col>
                          <ion-col>
                            <button ion-button icon-only (click)="wShare(articleData)" color="primary" clear>
                          <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                        </button>
                          </ion-col>
                          <ion-col>
                            <button ion-button icon-only (click)="fShare(articleData)" color="primary" clear>
                          <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
                        </button>
                          </ion-col>
                          <ion-col>
                            <button ion-button icon-only (click)="tShare(articleData)" color="primary" clear>
                          <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                        </button>
                          </ion-col>
                          <ion-col>
                            <button ion-button icon-only (click)="eShare(articleData)" color="primary" clear>
                          <ion-icon class="share-icon" name="mail"></ion-icon>
                        </button>
                          </ion-col>
                    </ion-row>
            </ion-col>
      </ion-row>
</ion-content>

<!-- <ion-footer>
  <div style="width: 100%;border-top: 2px #3B5998 solid;"></div>
</ion-footer> -->
