page-article-detail {
	.article-title{
		text-align: justify;
		font-size: 15px;
		font-weight: bold;
		padding: 5px;
		color: #101111;
	}
	.article-description{
		text-align: justify;
		padding: 5px;
	}
	*img{
		text-align: center;
	}

ion-icon {
    display: inline-block;
    font-size: 3em;

}
.fb{
	color: #4267b2;
	transition: all 0.5s ease;
}

.twt{
	color: #50a7e6;
}
.whts{
	color: #1ebea5;
}
.ml{
	color: orange;
}

}
