page-forgetpassword {
	.bg-content{
    background-image: url('../assets/imgs/bg.png');
    background-size: cover;
}
.emailform{
	margin-top: 50px;
}
.bg{
	background: #c0e6ef;
}
.input-cover {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    border: 1px solid#e0cfcf !important;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
}
