<!--
  Generated template for the ForgetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Forgot Password </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-content">
	
    <form class="emailform" (ngSubmit)="resetemail()" #resetForm="ngForm">
      <ion-item>
        <ion-input type="email" placeholder="Emaill" name="email" [(ngModel)]="resetEmail.email" required></ion-input>
      </ion-item>
      <ion-row class="m0">
        <ion-col col-12>
          <button ion-button full type="submit" [disabled]="!resetForm.valid">Send</button>
        </ion-col>
      </ion-row>
    </form>

</ion-content>
