page-answer-details {

    .topbar ion-avatar {
    display: inline-block;
    padding-left: 5px;

  }
  .topbar img {
    max-width: 40px;
    height: 40px;
    margin-top: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .topbar ion-searchbar {
    width: 85%;
    float: right;
  }

  .shadow{
    -webkit-box-shadow: 1px 7px 26px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 26px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 7px 26px -6px rgba(0,0,0,0.75);
  }
  .toolbar-background-md{
    background-color: #ffffff;
  }

.details-btn {
	color: #fff;
	background: #12a89d;
	border-radius: 0;
	padding: 10px;
	padding-right: 25px;
	font-size: 14px;
    font-weight: bold;
}
.details-btn .icon {
    font-weight: bold;
    font-size: 3rem;
    padding-right: 5px;
}
.text p {
    font-weight: bold;
    text-align: justify;
    line-height: 18px;
}
.text1 p {
    color: #000;
}
.text2 p {
    color: #099546;
}
.cleaxfix {
    border-bottom: 2px solid #099546;
}



}
