<!--
  Generated template for the AnswerDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar>
    <ion-row class="tb-bg">
     <ion-col col-12 class="topbar">
          <ion-avatar>
            <img *ngIf="!img1" src="./assets/imgs/no-image.png"  (click)="profile()">
            <img *ngIf="img1" [src]="img1" (click)="profile()">
          </ion-avatar>
        <ion-searchbar
          [(ngModel)]="searchText"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchNow($event)"
          (ionCancel)="getArticleList(1)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar class="shadow">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <img src="assets/imgs/Quizards-CMYK.png" style="width: 120px;">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <!--search result-->
    <ion-list *ngIf="searchData.length > 0">
        <ion-item *ngFor="let data of searchData" (click)="searchDetail(data)"> {{data.title}} </ion-item>
    </ion-list>
	<ion-grid>
		  <ion-row>
		  	<button ion-button class="details-btn"><ion-icon name="checkmark"></ion-icon> উত্তরের ব্যাখ্যা </button>
		  </ion-row>
		  <ion-row class="text text1" *ngFor="let item of data.played_question_set;let i=index">
        <h4>{{item.question}}</h4>
		    <p *ngIf="item.question_explanation!==null">
          {{item.question_explanation}}
        </p>
        <div class="cleaxfix"></div>
		  </ion-row>
</ion-grid>

</ion-content>
